@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
}
::selection {
  background-color: #eb4899;
  color: #000000;
}
.gfont-quicksand {
  font-family: 'Quicksand', sans-serif;
}